@charset "UTF-8";

body{
    background-color: #f4d498;
}

.about-top-visual{
    width: 100%;
    height: 70vh;
    background-image: url(../images/about_shizuoka.JPG);
    filter: sepia(30%);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.profile{
    margin-bottom: 50px;
}

.profile-top{
    width: 80%;
    margin: 50px auto;
    display: flex;
    flex-wrap: nowrap;
}

.name{
    width: 60%;
    border-right: solid 1px gray;
}

.name h1{
    font-size: max(3.5vw,18px);
    font-weight: bold;
    padding-top: 10px;
}

.name h2{
    font-size: max(1.5vw,14px);
}

.genre{
    width: 40%;
    padding-left: 50px;
    align-content: space-around;
    color: rgb(104, 104, 104);
}

.genre p{
    font-size: max(1.5vw,10px);
}

.profile-main {
    width: 80%;
    margin: 0 auto;
    overflow: hidden; /* 親要素がfloat子要素を含むため */
}

.profile-sentence {
    float: left; /* 左寄せにして文章が画像の下に回り込む */
    width: 65%; /* レイアウトの幅を調整 */
    line-height: 1.8; /* 行間を少し広げて読みやすく */
}

.profile-sentence p {
    margin: 0;
    padding: 20px 0;
}

.profile-image {
    float: right; /* 画像を右寄せ */
    width: 30%;
    margin-left: 5%; /* テキストと画像の間に余白を追加 */
}

.profile-image img {
    width: 100%;
    margin-top: 50px;
    height: auto; /* 画像のアスペクト比を保つ */
    display: block; /* 画像の下に余計な空白を出さない */
}


/* レスポンシブ */
@media screen and (max-width: 400px){

    .about-top-visual{
        background-position:center,top;
        overflow: hidden;
    }

}