@charset "UTF-8";

body{
    background-color: #f4d498;
}

.contact-top-visual{
    width: 100%;
    height: 70vh;
    background-image: url(../images/footer-background.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.contact-wapper{
    width: 80%;
    margin: 50px auto;
}

.contact-top{
    width: 100%;
    margin: 0px auto;
    margin-bottom: 20px;
    text-align: center;
}

.contact-top h1{
    font-size: 4vw;
    padding-bottom: 30px;
}

.contact-image{
    width: 80%;
    margin: 0 auto;
}

.contact-image img{
    width: 100%;
    filter: grayscale(0.7);
}