@charset "UTF-8";


body {
    width: 100%;
    background-color: #f4d498;
}

main {
    width: 100%;
    margin: 0 auto;
}

.top-visual {
    width: 100%;
    height: 60vh;
    background-image: url(../images/skills/skills_top_pc.jpeg);
    background-position: center;
    background-size: cover;
    filter: brightness(0.8);
}

.title {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

h3 {
    font-size: max(3vw, 30px);
    font-weight: bold;
    padding: 20px 10px;
}

/* 使用ツール */
.tools {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 100px;
}

.tool-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 20px;
    justify-content: space-around;
}

.tool-content {
    width: 40%;
    min-width: 350px;
}

.tool-content dl {
    display: flex;
    flex-wrap: nowrap;
}

.tool-content dl a {
    display: flex;
    flex-wrap: wrap;
}

.tool-content img {
    width: 60px;
}

.tool-content-exp {
    margin-left: 20px;
}

.tool-content-name {
    font-weight: bold;
    border-bottom: solid 2px black;
    margin-bottom: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    text-align: left;
}

/* 使用ツールここまで */

.skills {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 30px auto;
    gap: 30px 0;
}

.skills li {
    width: 40%;
    box-sizing: border-box;
    min-width: 350px;

}

/* ホバーで拡大 */
/* デフォルトではドロップシャドウなし */
.zoom-box {
    display: inline-block;
    overflow: hidden;
    position: relative;
    /* Safariでの再描画を安定させる */
    transition: filter 0.3s ease;
    /* スムーズな切り替え */
}

/* hover時にドロップシャドウを追加 */
.zoom-box:hover {
    filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.5));
}

/* 画像拡大効果 */
.zoom-box img {
    display: block;
    transition: transform 0.5s ease;
    backface-visibility: hidden;
    /* Safariでの再描画の安定化 */
    will-change: transform;
    /* パフォーマンス向上 */
}

.zoom-box:hover img {
    transform: scale(1.2);
    /* 拡大 */
}

/* ホバーで拡大ここまで */

.skills li img {
    width: 100%;
}

.skills li dl {
    margin-top: 15px;
    text-align: center;
}

.pages {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0 20px;
}

.icon {
    background-color: #cd853f;
    color: white;
    font-size: small;
    font-weight: lighter;
    border-radius: 20px;
    padding: 10px;
}

.introduction {
    text-align: left;
    margin: 0 auto;
    margin-top: 10px;
    width: 80%;
}

.skills dd {
    margin-top: 5px;
}

/* レスポンシブ */
@media screen and (max-width: 480px) {

    .top-visual {
        background-image: url(../images/skills/skills_top_sp.jpg);
    }

    .skills {
        justify-content: center;
    }

}